USE [master]
GO
/****** Object:  Database [Horses]    Script Date: 3.06.2019 18:17:08 ******/
CREATE DATABASE [Horses]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Horses', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Horses.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Horses_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Horses_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Horses].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Horses]
GO
/****** Object:  Table [dbo].[TBLBilgi]    Script Date: 3.06.2019 18:17:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLBilgi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Atlar] [varchar](500) NULL,
	[Ozellikler] [varchar](5000) NULL,
 CONSTRAINT [PK_TBLBilgi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
